// color palette 
// $nome: parametro

/* bg colors */
$blueBtn: #2F55D4;  
$labelBkg: #E4E9F8; 
$headerBkg: #F8F9FC;
$labelIcon: #EAEEFB;


/* text colors */
$LandrickViolet: #4F6FDB;
$labelText: #6F89E1;
$darkGrey: #44505F;
$sectionText: #8f949b;
$cardText: #A6B0BE;
$greenDetails: #2EC488;
$redHeart: #E43F52;

$linkColor: #5877DC;

/* border colors */
$headerLine: #ebeef1;
$cardBorder: #F5F6F7;

$cardRateShadow: #ADB5BD;

/* command line box */
$commandBkg: #3C4858;
$btnBorder: #576271;
$btnBkg: #4F5A69;
$activeBkg: #3C4858;
$benefitsText: #8D9AAC;