@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700;800&display=swap');
@import 'colorPalette.scss';

// resets

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
}

ul {
    list-style-type: none;
}

a {
    color: currentColor;
    text-decoration: none;
}

// containers/columns

.container {
    max-width: 980px;
    margin: 0 auto;
    padding: 50px 0;
    // border: 1px solid green;
}

main > section {
    margin-bottom: 80px;
}

.col-2 {
    width: 50%;
    // border: 1px solid lightgreen;
}

.col-4 {
    width: calc(100% / 3);
    // border: 1px solid white;
}

// flex rules

.flex-row {
    display: flex;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.just-cx {
    justify-content: center;
}

.space-around {
    justify-content: space-around;
}

.space-btw {
    justify-content: space-between;
}

.align-cx {
    align-items: center;
}

// button styles

.label {
    background-color: $labelBkg;
    color: $labelText;
    border: 1px solid $labelBorder;
    border-radius: 50px;
    padding: 7px 8px;
    font-weight: 800;
    font-size: 10px;
}

button {
    font-weight: 700;
    padding: 8px 15px;
    border-radius: 5px;
}

.blue-btn {
    color: white;
    background-color: $blueBtn;
    border: none; 
}

.white-btn {
    color: $blueBtn;
    background-color: trasparent;
    border: 1px solid $blueBtn;
}

// text styles
.title-wrapper-cx {
    margin: 0 auto;
    max-width: 60%;
    text-align: center;
}

.section-title {
    margin: 15px 0;
    font-size: 1.5rem;
}

.section-description {
    color: $sectionText;
    margin: 20px 0;
    font-size: 0.9rem;
    font-weight: 700;
}

.brand {
    color: $LandrickViolet;
    font-weight: 800;
}

.greenColor {
    color: $greenDetails;
}

.blue-text {
    color: $blueBtn;
}

.redHeart {
    color: $redHeart;
}

