@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');

/* resets */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}

img {
    width: 100%;
}

ul {
    list-style-type: none;
}

a {
    color: currentColor;
    text-decoration: none;
}

/* containers */

.container {
    max-width: 1024px;
    margin: 0 auto;
    border: 1px solid green;
}

.col-2 {
    width: 50%;
    // border: 1px solid lightgreen;
}

/* flex rules */

.flex-row {
    display: flex;
}

.align-cx {
    align-items: center;
}

/* button styles */

.label {
    background-color: #E4E9F8;
    color: #6F89E1;
    border: none;
    border-radius: 50px;
    padding: 4px 5px;
    font-weight: 700;
    font-size: 10px;
}

button {
    font-weight: 700;
    padding: 8px 15px;
    border-radius: 5px;
}

.blue-btn {
    color: white;
    background-color: #2F55D4;
    border: none; 
}

.white-btn {
    color: #2F55D4;
    background-color: trasparent;
    border: 1px solid #2F55D4;
}